<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{! <form action="/search" method="GET">
      <label>
        City
        <input type="text" name="city" />
      </label>

      <label>
        Start-Date
        <input type="date" name="start-date" />
      </label>

      <label>
        End-Date
        <input type="date" name="end-date" />
      </label>

      <label>
        My custom input
        <input type="text" name="my-custom-input" />
      </label>
      <button type="submit">SEARCH</button>
    </form> }}

    <!-- Simple form which will send a GET request -->
    <form action="example.com/user-data">
      <label for="first-name-input">First Name:</label>
      <input id="first-name-input" type="text" name="firstName" />

      <input type="submit" value="Save Name" />
    </form>

    <script src="app.js"></script>
  </body>
</html>